/* animando o pipe sai da posição 0 até a posição 100 */
@keyframes pipe-animation {
  from {
    right: -80px;
  }

  to {
    right: 100%;
  }
}
/* animando as clouds sai da posição 0 até a posição 100 */
@keyframes cloud-animation {
  from {
    right: -80px;
  }

  to {
    right: 100%;
  }
}
/* animação para pulo do mario */
/* quando mario estiver em 0% bottom: 0;   */
/* quando mario estiver em 50% bottom: 100px;   */
/* quando mario estiver em 100% retorna para bottom: 0;   */
@keyframes jump {
  0% {
    bottom: 0;
  }

  40% {
    bottom: 200px;
  }

  50% {
    bottom: 200px;
  }

  60% {
    bottom: 200px;
  }

  100% {
    bottom: 0;
  }
}

@keyframes text {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0.5;
  }
  40% {
    opacity: 0.3;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 0.3;
  }
  90% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.8;
  }
}

/* animação que start do pulo do mario*/
.jump-mario {
  animation: jump 700ms ease-out;
}
