@media screen and (max-width: 1366px) {
  .game-board {
    display: flex;
    width: 100%;
    height: 30em;
    border-bottom: 15px solid #208a10;
    margin: 0em auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87ceeb, #e0f6ff);
  }

  .pipe {
    position: absolute;
    bottom: 0;
    width: 4em;
    height: 4em;
    animation: pipe-animation 3s infinite linear;
  }

  .mario {
    width: 120px;
    position: absolute;
    bottom: 0;
  }

  .logoSuperMario {
    width: 23em;
    height: 8em;
    margin-top: 15px;

    margin: 0 auto;
  }

  .cloud {
    position: absolute;
    width: 28em;
    padding: 22px;
    animation: cloud-animation 10s infinite linear;
  }

  .instructions {
    width: 30em;

  }

  .keyboard {
    width: 20em;

  }

  .dica-mobile {
    display: none;
  }


  .felp {
    width: 16em;
    position: absolute;
    right: 1em;
  }

  a {
    height: fit-content;
    width: 0;
  }
}

@media screen and (max-width: 896px) {
  body {
    width: 100vw;
    height: 100vh;
  }


  .game-board {
    display: flex;
    width: 100%;
    height: 40em;
    border-bottom: 15px solid #208a10;
    margin: 0em auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87ceeb, #e0f6ff);
  }

  .pipe {
    position: absolute;
    bottom: 0;
    width: 4em;
    height: 4em;
    animation: pipe-animation 1s infinite linear;
  }

  .mario {
    width: 7em;
    position: absolute;
    bottom: 0px;
  }


  .logoSuperMario {
    width: 23em;
    height: 8em;
    margin-top: 15px;

    margin: 0 auto;
  }

  .cloud {
    position: absolute;
    width: 28em;
    padding: 22px;
    animation: cloud-animation 10s infinite linear;
  }

  .dicas {
    display: none;
  }

  .buttons {
    display: flex;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    top: 1em;

    .start-mobile,
    .restart-mobile {
      background-color: #87ceeb;
      padding: 9px;
      border-radius: 10px;
    }
  }

  .dica-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;

    .instructions-mobile {
      padding: 2em;
      font-size: 31px;

      span {
        font-weight: bold;
        font-size: 31px;
        background-color: #208a10;
        border-radius: 10px;
        padding: 2px;
      }
    }

    .touch-gif {
      position: relative;
      top: -2em;
    }
  }


  .felp {
    width: 8em;
    position: absolute;
    right: 1em;
    top: 10em;
  }

  a {
    height: fit-content;
    width: 0;
  }
}

/* @media screen and (min-width: 896px) {

    .game-board {

        display: flex;
        width: 100%;
        height: 26em;
        border-bottom: 15px solid #208a10;
        margin: 0em auto;
        position: relative;
        overflow: hidden;
        background: linear-gradient(#87ceeb, #e0f6ff);
    }

    .pipe {
        position: absolute;
        bottom: 0;
        width: 4em;
        height: 4em;
        animation: pipe-animation 1s infinite linear;
    }

    .mario {
        width: 120px;
        position: absolute;
        bottom: 0;

    }

    .logoSuperMario {
        width: 23em;
        height: 8em;
        margin-top: 15px;

        margin: 0 auto;
    }

    .cloud {
        position: absolute;
        width: 28em;
        padding: 22px;
        animation: cloud-animation 10s infinite linear;
    }

    .instructions {
        display: none;
    }

    .keyboard {
        display: none;
    }

    .Felp {
    width: 7em;
    margin-left: -47em;
    margin-top: 10em;
    }

    a {
        height: fit-content;
        width: 0;
    }


} */