@media screen and (max-width: 1366px) {


    .game-board {

        display: flex;
        width: 100%;
        height: 35em;
        border-bottom: 15px solid #208a10;
        margin: 0em auto;
        position: relative;
        overflow: hidden;
        background: linear-gradient(#87ceeb, #e0f6ff);
    }

    .pipe {
        position: absolute;
        bottom: 0;
        width: 4em;
        height: 4em;
        animation: pipe-animation 3s infinite linear;
    }

    .mario {
        width: 120px;
        position: absolute;
        bottom: 0;

    }

    .logoSuperMario {
        width: 23em;
        height: 8em;
        margin-top: 15px;

        margin: 0 auto;
    }

    .cloud {
        position: absolute;
        width: 28em;
        padding: 22px;
        animation: cloud-animation 10s infinite linear;
    }

    .instructions {
        width: 35em;
        margin-top: 17px;
    }

    .keyboard {
        width: 20em;
        margin: 10px 34em 0 auto;
    }

    .Felp {
        width: 11em;
        margin-left: -74em;
        margin-top: 10em;
    }

    a {
        height: fit-content;
        width: 0;
    }
}

@media screen and (max-width: 896px) {

    .game-board {

        display: flex;
        width: 100%;
        height: 50em;
        border-bottom: 15px solid #208a10;
        margin: 0em auto;
        position: relative;
        overflow: hidden;
        background: linear-gradient(#87ceeb, #e0f6ff);
    }

    .pipe {
        position: absolute;
        bottom: 0;
        width: 4em;
        height: 4em;
        animation: pipe-animation 1s infinite linear;
    }

    .mario {
        width: 120px;
        position: absolute;
        bottom: 0;

    }

    .logoSuperMario {
        width: 23em;
        height: 8em;
        margin-top: 15px;

        margin: 0 auto;
    }

    .cloud {
        position: absolute;
        width: 28em;
        padding: 22px;
        animation: cloud-animation 10s infinite linear;
    }

    .instructions {
       display: none;
    }

    .keyboard {
        display: none;
    }

    .Felp {
        width: 8em;
        margin-left: -17em;
        margin-top: 8em;
    }


    a {
        height: fit-content;
        width: 0;
    }


}

/* @media screen and (min-width: 896px) {

    .game-board {

        display: flex;
        width: 100%;
        height: 26em;
        border-bottom: 15px solid #208a10;
        margin: 0em auto;
        position: relative;
        overflow: hidden;
        background: linear-gradient(#87ceeb, #e0f6ff);
    }

    .pipe {
        position: absolute;
        bottom: 0;
        width: 4em;
        height: 4em;
        animation: pipe-animation 1s infinite linear;
    }

    .mario {
        width: 120px;
        position: absolute;
        bottom: 0;

    }

    .logoSuperMario {
        width: 23em;
        height: 8em;
        margin-top: 15px;

        margin: 0 auto;
    }

    .cloud {
        position: absolute;
        width: 28em;
        padding: 22px;
        animation: cloud-animation 10s infinite linear;
    }

    .instructions {
        display: none;
    }

    .keyboard {
        display: none;
    }

    .Felp {
    width: 7em;
    margin-left: -47em;
    margin-top: 10em;
    }

    a {
        height: fit-content;
        width: 0;
    }


} */