* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* definindo tamanho e bordar dos limites do game-board */
.game-board {
    display: flex;
    width: 100%;
    height: 46em;
    border-bottom: 15px solid #208a10;
    margin: 0em auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87ceeb,#e0f6ff);
}
   


/* definindo posição e propriedades do pipe(Cano verde do mario)  */
.pipe {

    position: absolute;
    bottom: 0;
    width: 6em;
    height:5em;
    animation: pipe-animation 3s infinite linear; 
    /* keyframe pipe animation - sai da posição 0 até a posição 100 em 2 segundos  */        
   
}

/* definindo posição e propriedades do pipe(Cano verde do mario)  */

.mario{
    width: 150px;
    position: absolute;
    bottom: 0px;   

}


.cloud{

    position: absolute;    
    width: 36em;
    padding: 15px;
    animation: cloud-animation 10s infinite linear; 

}

.logoSuperMario{
    width: 33em;
    height: 10em;
    margin-top: 15px;
    
    margin: 0 auto;
}


.instructions{
    width: 45em;
    margin-top: 17px;    
}


.keyboard{
    width: 36em;
    margin: 11px 43em 0 auto;
}

.Felp{
    
    width: 16em;
    margin-left: -104em;
    margin-top: 11em;
}

a{
    height: fit-content;
    width: 0;
}






